<h1>Number to text translator</h1>

<p>Enter a number into the form below. Click submit, and we'll give you back your number as text!</p>

<form action='/number-text' method='get'>
  <div class="form-group">
    <label for="number">Your number:</label>
    <input id="number" name="number" class="form-control" type="number">
  </div>

  <button type="submit" class="btn btn-info">Convert!</button>
</form>
